 WidGets
<script src="/app/controller/WidGets.php"></script>
web.html
<script src="/view/web/version1/web.html"></script>
go.html
<script src="/view/go/version1/go.html"></script>
go/1.html
<script src="/-/view/go/version1/vscode1/1.html"></script>
web/1.html
<script src="/view/web/version1/vscode1/1.html"></script>
go/笔记
<script src="/view/common/notes/go/go.html"></script>
main.go
<script src="/src/hello/main.go"></script>
go坑
<script src="/view/common/notes/go/copy.html"></script>
img
<script src="/public/static/images/bj_img/img.html"></script>
public/static/common.js
<script src="/-/public/static/common.js"></script>
golang/err
<script src="/view/common/notes/golang/err.html"></script>
个人
<script src="/-/view/common/notes/my/my1.html"></script>