{include file="common/header"/} {include file="common/notes/header"/}
<style>
    body {
        overflow-x: visible;
        overflow-y: visible;
    }
    
    .box {
        display: flex;
    }
    
    .box1 {
        width: 100%;
    }
    
    .row div {
        color: #fff;
        /* text-align: center; */
    }
    
    P::before {
        counter-increment: count 1;
        content: counter(count)".";
        font-size: 26px;
    }
    
    .container-fluid {
        counter-reset: count;
    }
    
    p {
        border-bottom: 1px solid #C078DD;
    }
    
    body {
        background-color: #020202
    }
    
    P::before {
        counter-increment: count 1;
        content: counter(count)".";
        font-size: 26px;
    }
    
    .box {
        counter-reset: count;
    }
    
    p {
        background: #181A1F;
        color: #CD70D6;
    }
    
    p:nth-child(odd) {
        color: #CD70D6;
        background: #020202;
    }
    
    .ss {
        color: #97C279;
    }
</style>

<div class="box">
    <div class="box1">

        <p>登入<span class="ss">MySQL5.7.26\bin>mysql  -uroot  -p</span></p>
        <p>退出<span class="ss">\q;</span></p>
        <p>查看所有数据库<span class="ss">show databases;</span></p>

    </div>
    <div class="box1">
        <p><span class="fdf">修改名称&nbsp;&nbsp;</span><span class="ss">mv test3 test33</span></p>

    </div>
    <div class="box1">
        <p><span class="ss">硬链接</span><span class="fdf">ln</span></p>
    </div>
</div>
<script>
    function imgTk(id) {
        layer.open({
            type: 1,
            title: false,
            closeBtn: 0,
            area: ['auto'],
            skin: 'layui-layer-nobg',
            shadeClose: true,
            content: $('#' + id)
        });
    }
</script>

<script>
    function fyImg(src) {
        layer.open({
            type: 1,
            title: false,
            closeBtn: 0,
            shadeClose: true,
            content: '<img src=' + src + ' width="110%" height="110%" style="overflow-x: hidden;overflow-y: hidden;"/>'
        });
    }
</script>






.