{include file="common/header"/} {include file="common/notes/header"/}
<style>
    body {
        background-color: #020202
    }
    
    body {
        overflow-x: hidden;
        overflow-y: hidden;
    }
    
    p {
        background: #181A1F;
        color: #CD70D6;
    }
    
    p:nth-child(odd) {
        color: #CD70D6;
        background: #020202;
    }
    
    .ss {
        color: #97C279;
    }
</style>

<body>
    <div style="float: right;">
        <span type='button' onclick='displauy("hot1")'><img  style="background-color: #020202" src="/static/images/vs.png" width="40px"></span>
        <span type='button' onclick='displauy("hot2")'><img  style="background-color: #020202" src="/static/images/notes/win10.png" width="40px"></span>
        <span type='button' onclick='displauy("hot3")'><img  style="background-color: #020202" src="/static/images/bj_img/browser/谷歌 (1).png" width="40px" ></span>
        <span type='button' onclick='displauy("hot4")'><img  style="background-color: #020202" src="/static/images/vscode.png" width="40px"></span>
        <span type='button' onclick='displauy("hot5")'><img  style="background-color: #020202" src="/static/images/autohotkey.png" width="40px"></span>
        <span type='button' onclick='displauy("hot6")'><img  style="background-color: #020202" src="/static/images/工具.png" width="34px"></span>
        <span type='button' onclick='displauy("hot7")'><img  style="background-color: #020202" src="/static/images/文件.png" width="35px"></span>
    </div>
    <div id='hot1' class="hot" style='display:<?php if($status == 0){echo "show";}else{echo "none";} ?>'>
        {include file="common/notes/public/vs"/}
    </div>
    <div id='hot2' class="hot" style='display:<?php if($status == 1){echo "show";}else{echo "none";} ?>'>
        {include file="common/notes/public/window"/}
    </div>
    <div id='hot3' class="hot" style='display:<?php if($status == 2){echo "show";}else{echo "none";} ?>'>
        {include file="common/notes/public/google"/}
    </div>
    <div id='hot4' class="hot" style='display:<?php if($status == 3){echo "show";}else{echo "none";} ?>'>
        {include file="common/notes/public/vscode"/}
    </div>
    <div id='hot5' class="hot" style='display:<?php if($status == 4){echo "show";}else{echo "none";} ?>'>
        {include file="common/notes/public/autohotkey"/}
    </div>
    <div id='hot6' class="hot" style='display:<?php if($status == 4){echo "show";}else{echo "none";} ?>'>
        {include file="common/notes/public/tools"/}
    </div>
    <div id='hot7' class="hot" style='display:<?php if($status == 4){echo "show";}else{echo "none";} ?>'>
        {include file="common/notes/public/path"/}
    </div>
</body>