{include file="common/header"/} {include file="common/notes/header"/}
<style>
    p {
        background: #181A1F;
    }
    
    p:nth-child(odd) {
        background: #020202;
    }
</style>

<body>
    <div style="float: right;">
        <span type='button' onclick='displauy("hot1")'><img style="background-color: #020202" src="\static\images\notes\win10.png" width="33px"></span>
    </div>
    <div id='hot1' class="hot" style='display:show;'>
        {include file="common/notes/tools/tools"/}
    </div>
</body>