{include file="common/header"/}
<style>
    body {
        overflow-x: hidden;
        overflow-y: hidden;
    }
</style>

<body style="background: #121212;">
    <!--默认显示奖项数量  -->
    <?php $length=3; ?>
    <div id="default" class="1"></div>
    {include file="common/www"/}
    <div class="layui-form-item center ">
        <dspan id="revamp " class="<?php echo isset($length) ? $length: '3';?> display">
            <span>
		    <span lay-value="2" class="layui-btn layui-btn-sm fdsf" id="renewa1" style="font-size: 25px;color: #121212;" onclick="switchover('1')">&nbsp;GO&nbsp;</span>
            <span lay-value="2" class="layui-btn layui-btn-sm " id="renewa2" style="font-size: 25px;color: #121212;" onclick="switchover('2')">&nbsp;beego&nbsp;</span>
            <span lay-value="2" class="layui-btn layui-btn-sm " id="renewa3" style="font-size: 25px;color: #121212;" onclick="switchover('3')">&nbsp;Docker&nbsp;</span>
            <span lay-value="2" class="layui-btn layui-btn-sm " id="renewa4" style="font-size: 25px;background-color: #5FB878;color: #121212;" onclick="switchover('4')">&nbsp;SQL&nbsp;</span>
            <span lay-value="2" class="layui-btn layui-btn-sm " id="renewa5" style="font-size: 25px;background-color: #5FB878;color: #121212;" onclick="switchover('5')">&nbsp;Gin&nbsp;</span>
            </span>
            </span>

            <img class='img' onclick='wb("ww")' src="/static/images/文本.png" width="25px" height="25px">
            <span class="">
            <span onclick="prompt('fast?path=public')" style="float: right;background: #DCDCDC;color: #121212;font-size: 25px;" type='button' class='layui-btn layui-btn-sm on-click' id='btn-prompt'>public</span>
            </span>

            <span onclick='window.open("/index.php/test/test.html")' style="float: right;background: #DCDCDC;color: #121212;font-size: 25px;" type='button' class='layui-btn layui-btn-sm on-click'>测试</span> {:widgets('wwwLeft')} {include file="common/fast"/}
    </div>
    <div id="template1">
        <iframe src="version?id=1&vscode=1" width="100%" height="1000px" frameborder="no" border="0"></iframe>
    </div>
    <div id="template2" style="display: none">
        <iframe src="version?id=1&vscode=2" width="100%" height="1000px" frameborder="no" border="0"></iframe>
    </div>
    <div id="template3" style="display: none">
        <iframe src="version?id=1&vscode=3" width="100%" height="1000px" frameborder="no" border="0"></iframe>
    </div>
    <div id="template4" style="display: none">
        <iframe src="version?id=1&vscode=4" width="100%" height="1000px" frameborder="no" border="0"></iframe>
    </div>
    <div id="template5" style="display: none">
        <iframe src="version?id=1&vscode=5" width="100%" height="1000px" frameborder="no" border="0"></iframe>
    </div>
    </div>
    </script>
    <script>
        function prompt(path) {
            console.log(path);
            layui.use(['layer'], function() {
                var layer = layui.layer;
                layer.open({
                    type: 1,
                    title: false,
                    closeBtn: 0,
                    shadeClose: true,
                    area: ['100%', '70%'],
                    skin: 'yourclass',
                    content: '<iframe src="' + path + '" width="100%"  height="100%" frameborder="no" border="0"></iframe>'
                });
            })
        }

        function wb() {
            id = $("#zt-id").val()
            if (id == 1) {
                prompt("fast?path=go")
            } else if (id == 2) {
                prompt("fast?path=beego")
            } else if (id == 3) {
                prompt("fast?path=docker")
            } else if (id == 4) {
                prompt("fast?path=mysql")
            } else if (id == 5) {
                prompt("fast?path=gin")
            }
        }
    </script>